VisualElement #add-item-container
{
	margin-top: 4px;
	margin-bottom: 8px;
	padding: 2px;
	border-color: #fff;
	border-width: 1px;
	border-radius: 4px;
}

VisualElement #add-item-fields-container
{
	flex-direction: row;
}

PropertyField #item-to-add-key-field
{
	flex: 1;
	margin-right: 4px;
}

PropertyField #item-to-add-value-field{
	flex: 1;
	margin-right: 8px;
}

Button#add-item-btn{
	min-height: 24px;
}